.idea
obj
Temp
*.suo
*.user
*.pidb
*.userprefs
*.sln
*.csproj
*.swp

Library/cache
Library/metadata
Library/previews
Library/ScriptAssemblies
Library/assetDatabase3
Library/AssetImportState
Library/assetservercachev3
Library/AssetServerCacheV3
Library/AssetVersioning.db
Library/AudioManager.asset
Library/ShaderCache.db
Library/BuildPlayer.prefs
Library/BuildSettings.asset
Library/DynamicsManager.asset
Library/EditorSettings.asset
Library/EditorUserBuildSettings.asset
Library/expandedItems
Library/FailedAssetImports.txt
Library/guidmapper
Library/InspectorExpandedItems.asset
Library/MonoManager.asset
Library/NetworkManager.asset
Library/ScriptMapper
Library/unity default resources
Library/unity editor resources
Library/ShaderCache/
Library/shadercompiler-1.log
Library/shadercompiler-64bit-*.log
Library/shadercompiler-32bit-*.log
Library/LastSceneManagerSetup.txt
Library/shadercompiler-*
Library/CurrentLayout.dwlt
.DS_Store

node_modules
Assets/build
Assets/packages
Assets/Plugins
Assets/packages.meta
manifest.json
manifest.json.meta
.vscode
Library/CrashedAssetImports.txt

EditorTestResults.xml
ProjectSettings
UnityPackageManager
etc
Library
